@import "tailwindcss";
@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #F2F2F2;
  --foreground: #333;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #101828;
    --foreground: #fff;
  }
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: Arial, Helvetica, sans-serif;
}

/* スクロールバー全体のスタイル */
::-webkit-scrollbar {
  width: 8px;
  height: 8px;
}

/* スクロールバーのトラック（白い背景部分） */
::-webkit-scrollbar-track {
  background: transparent; /* ← ここが白いなら透明にする！ */
}

/* スクロールバーのつまみ（グリップ部分） */
::-webkit-scrollbar-thumb {
  background-color: #14aa7d;  /* ダーク系で自然な色 */
  border-radius: 4px;
}

/* ホバー時などに明るくする場合 */
::-webkit-scrollbar-thumb:hover {
  background-color: #093d30;
}


/* proseがブログ記事内部の処理 */
.prose {
  max-width: 100%;
}

.prose h1 {
  font-weight: bold;
  font-size: 1.5rem;
  padding: 0.75rem 1rem;
  border-radius: 0.5rem;
  display: flex;
  align-items: center;
  margin-top: 2rem;
  margin-bottom: 1rem;
  position: relative;
  overflow: hidden;
  background-color: #ece1e1; 
  color: black;
}

/* ダークモード用 */
@media (prefers-color-scheme: dark) {
  .prose h1 {
    background-color: #2b2f39;
    color: white;
  }
}

/* 擬似的に左帯を中に差し込む */
.prose h1::before {
  content: "";
  position: absolute;
  left: 0;
  top: 0;
  width: 8px;
  height: 100%;
  background: linear-gradient(to bottom, #c471f5, #fa71cd);
  border-top-left-radius: 0.5rem;
  border-bottom-left-radius: 0.5rem;
}

.prose h2 {
  position: relative;
  font-weight: bold;
  font-size: 1.3rem;
  padding-bottom: 0.5rem;
  padding-left: 1rem;
  margin-top: 2rem;
  margin-bottom: 1rem;
}

.prose h2::after {
  content: "";
  position: absolute;
  bottom: 0;
  left: 0;
  height: 2px;
  width: 100%;
  background: linear-gradient(to right, #00B8F1, #00b682);
  border-radius: 9999px;
}

.prose p {
  margin-bottom: 1rem;
}

.prose ul {
  padding-left: 1.5rem;
  list-style-type: disc;
}

.prose li {
  margin-bottom: 0.5rem;
}

.prose a {
  color: purple;
  font-weight: bold;
  transition: color 0.2s;
}

.prose a:hover {
  color: #5ff0c4;
}


/* 404 error */
@keyframes rainbow {
  0% { background-position: 0% 50%; }
  50% { background-position: 100% 50%; }
  100% { background-position: 0% 50%; }
}

.gaming-text {
  background: linear-gradient(
    270deg,
    #ff0000,
    #ff9900,
    #ffff00,
    #33ff00,
    #00ffff,
    #3300ff,
    #cc00ff
  );
  background-size: 1600% 1600%;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  animation: rainbow 3s ease infinite;
}

.prose pre, .prose code {
  white-space: pre-wrap !important;
  word-break: break-word !important;
  overflow-wrap: break-word !important;
}

@media (max-width: 640px) {
  pre code {
    font-size: 12px;
  }
}
